  .PaginaMesasCorpo {
    background: #000000;
    color: #ffffff;
    font-size: 130%;
  }
  
  .PaginaMesasEstrutura {
    padding-top: 5%;
    max-width: 665px;
    margin: auto;
  }

  .PaginaMesasItem {
    margin: auto;
  }

  .PaginaMesasBarra {
    height: 5px;
    background-color: #ffffff;
  }
  
  .container-div { 
    padding: 0 10px;
    width: 100rem;
    margin-top: 20%;
  }
  
  .row {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .buttons-row { 
    display: flex;
    padding: 0 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .label {
    padding-right: 10px;
    max-width: 15ch;
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .select {
    height: 50px;
    width: 50%;
    background-color: transparent;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    border: 3px solid #ffffff;
  }
  
  .PaginaMesasSelectOptions {
    background-color: black;
  }
  
 
  .submit-button > span {
    font-size: 18px;
    color: white;
  }
  
  .section {
    flex: 1;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .PaginaMesasIconButton { 
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 100%;
  }
  
 .minus {
    background-color: #ffffff;
  }
  
 .plus {
    background-color: grey;
  }