.PaginaLoginBody {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #000000;
  color: #ffffff;
  font-size: 130%;
}

.PaginaLoginForm { 
  width: 100%;
  margin-top: 40%;
  max-width: 300px;
}

.submit-div {
  width: 80%;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.submit-div > a {
  color: white;
  font-size: 14px;
  margin-left: 10px;
  align-self: flex-start;
  text-decoration: none;
}

.submit-button {
  width: 100%;
  max-height: 30px;
  background-color: gray;
  border-radius: 15px;

  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.PaginaLoginInput {
  outline: none;
}

.submit-button > span {
  font-size: 18px;
  color: white;
}

.PaginaLoginSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-container {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding-left: 10px;
  border: 3px solid white;
  background: #000000;
  border-radius: 20px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.input-container > input{
  width: 90%;
  height: 100%;
  border: none;
  background: none;

  font-size: 20px;
  color: white;
}

.input-container > input:focus {
border: none;
}