.paginaCardapioEstrutura {
    max-width: 1000px;
    margin: auto;
}

.estruturaBotoesCardapio {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

@media (max-width: 600px) {
    .estruturaBotoesCardapio {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
    }
}

input {
    color: white;
    background: #000000;
    width: 175px;
    border: none;
    padding: 7px;
    margin-left:-5px;
    outline:none;
  }

.estruturaInternaBotoes {
    width: 50%;
    padding: 16px;
}

.itemDescricao {
    text-align: left;
}

.itemPreco {
    float: left;
}

.botaoItem {
    display: flex;
    background: #686868;
    color: #ffffff;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    font-size: 75%;
    max-width: 495px;
    max-height: 165px;
    height: 100%;
    width: 100%;
    margin-bottom: 8%;
}

.imagemPaginaCardapio {
    max-width: 100%;
    max-height: 150px;
    height: auto;
    margin: auto;
    display: grid;
}